* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.youtube {
    background-color: #FF0000;
}

.twitch {
    background-color: #9146FF;
}

.kinogo {
    background-color: #00A3E0;
}

.kinopoisk {
    background-color: #F5A623;
}

.okko {
    background-color: #FF6F20;
}

.button:hover {
    transform: scale(1.1);
}

.button.scale {
    transform: scale(1.1); /* Увеличение на 10% */
}
